<h1>Login</h1>
<form role="form" action="/login" method="post">
<div class="field-wrap">
    <label for="username">Username
        <span class="req">*</span>
    </label>
    <input class="original-input" type="text" name="username" id="username" required autocomplete="off" />
</div>
<div class="field-wrap">
    <label for="password">Password
        <span class="req">*</span>
    </label>
    <input class="original-input" type="password" name="password" id="password" required autocomplete="off" />
</div>
    <button type="submit" class="button button-block">Log In</button>
</form>